@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(185, 75%, 39%);
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position:right 46vw bottom 48vh, left 75vh top 70vh;
    font-family: 'Outfit', sans-serif;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.profile-card {
    width: 375px;   
    background-color: white;
    background-image: url("./images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    border-radius: 15px;

}

.profile-card img {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 5px solid white;
}

.profile-card,
#name {
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    margin: auto;
    margin-bottom:  5px;
}

#age {
    font-size: 18px;
    font-weight: 400;
    font-weight: normal;
    color: hsl(227, 10%, 46%);
    margin-left: 10px;
}
#city {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.profile-stats { 
    margin-top: 20px;
    font-size: 14px;
    display:flex;
    justify-content: space-between;
    padding: 30px 50px;
    border-top: 1px solid  hsla(227, 10%, 46%, 0.2);

}

.profile-stats #stats-number {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 20px;
}

.profile-stats #stats-category {
    margin-bottom: 10px;
    margin-top: 5px;
    font-size:  14px;
    font-weight: 400;
}
